/* color scheme
letter of sign = #494960
background of sign = #E0CEAD */


body, html{
  height:100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}



.pimg1, .pimg2, .pimg3, .pimg4{
   position:relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.pimg2, .pimg3, .pimg4{
  opacity: .7;
}


/* image1 as gradient */
/* .pimg1{
  background: linear-gradient(140deg, #FF1AC3, #7D7D7D);
  background-size: 200% 400%;
  min-height: 100%;
  margin-bottom: 0;
  width:100%;
  animation: g-back 5s ease infinite;
} */

/* image1 as skyline */
.pimg1{
  background-image: url('../img/drinkCoffee.jpg');
  /* background-position: bottom; */
  width: 100%;
  min-height: 100%;
}


.pimg2{
  background-image:url('../img/iHeartCoffee.jpg');
  min-height: 500px;
  width:100%;
}

.pimg3{
  background-image:url('../img/muffin.jpg');
  min-height: 600px;
  width:100%;
}

.pimg4{
  background-image:url('../img/coffeeHeart.jpeg');
  /* change bottom height to cover map, not 100% */
  min-height: 600px;
  width:100%;
}

/* script for gradient animation */
/* @keyframes g-back{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
} */

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #FDFEFE;
  color: #666;
}

/* turning section dark off to attempt transition colors */
/* .section-dark{
  background-color: #282e34;
  color: #ddd;
} */

.sectionTransition{
  background-color: #AFDAD2;
  /* opacity: .4; */
}

#navbar ul{
  max-width: 100% !important;
  /* border-radius: 28px; */
}

.navbar-nav{
  list-style: none;
  border-radius: 100px;
  /* background-color: transparent; */
  /* text-align: center !important; */
  margin-right: auto;
  margin-left: auto;
  max-width: 100vw;
  /* border-radius: 28px; */
  /* padding: 30; */
}
.nav-item{
  /* border-radius: 28px; */
  font-size: 20px;
  /* padding: 10px 5px; */
  /* margin-left: 5vw; */
  /* margin-right: 5v; */
  margin-top: 20px;
}


/* edit individual navlinks here */
.nav-item .nav-link{
  color: #494960 !important;

  font-family: 'Playfair Display', serif;
  text-align: center;
}
.collapse .navbar-nav > li {
  background-color: #E0CEAD !important;
}


.scrollButton .nav-link{
  position: absolute;
  bottom: 30px;
  width: 100px;
  height: 100px;
  right:25%;
  left:50%;
  margin-left:-150px;
}
.nav-item a:hover{
  border: 2px solid #494960;
  background-color: #fff;
  /* border-color: #fff; */
  transition: .6s;
}



.scrollButton .ArrowLink{
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -50px;
  color: #fff;
}
/* scroll button hover effect */
.scrollButton .ArrowLink:hover{
  transform: scale(1.0);
  /* color: #494960; */
  transition-duration: .3s;
}



/* attempt at animating pulse on scroll button */
/* .fa-pulse{
  display: inline-block !important;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
} */

/* adding bounce effect to scroll button */
.fa-bounce{
  display: inline-block;
    position: relative;
    -moz-animation: bounce 1s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 1s infinite linear;
    animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.titleBlock{
  position: absolute;
  top: 12%;
  width: 40%;
  margin-left: 30%;
  vertical-align: center;
  text-align: center;
  font-size: 8vh;
  letter-spacing: .5vw;
  font-weight: bold;
  text-transform: uppercase;
}

.titleBlock .titleText h1{
  font-size: 6vh !important;
  font-weight: bold;
}

.titleBackground{
  background-color: #E0CEAD;
  border: 5px solid #494960;
}

.titleBackground h5{
  color: #494960 !important;
  font-size: 3vh;
  font-weight: lighter;
}


.titleBlock .trans{
  /* background-color: #777; */
  color: #494960 ;
  font-family: 'Playfair Display', serif;
  /* transform: scale(1.5); */
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px; */
}





/* Turn title background off */
/* .titleBlock .trans{
  background-color: transparent;
} */

.socialIcons li{
  display: inline-block;
  border: 2px solid #fff;
  /* border-color: blue; */
  /* background-color: deepskyblue; */
  text-align: center;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 50%;
  /* font-weight: lighter; */
}
.socialIcons li:hover{
  transform: rotate(360deg) scale(1.0);
  transition-duration: .5s;
}
.socialIcons a{
  color: #fff !important;
}
.socialIcons a:hover{
  color: #fff !important;
  text-decoration: none;
}

.socialIcons i{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.socialIcons .facebookIcon{
  background-color: #3b5998 !important;
}
.socialIcons .mailIcon{
  background-color: #00FF00 !important;
}
.socialIcons .twitterIcon{
  background-color: #1da1f2 !important;
}
.socialIcons .instagramIcon{
  background-color: #c32aa3 !important;
}

.ptext .border{
  background-color: #777;
  color: #fff;
  padding: 20px;
}

.SectionLink{
  color: #fff;
}
.SectionLink:hover{
  transform: scale(.5) !important;
  transition-duration: 2s;
  color: purple;
  /* background-color: deepskyblue; */
}

#pixlee_container{
  width: 99%;
  margin-left: .5%;
  margin-right: .5%;
}

.mapEmbed{
  padding-top: 50px;
  margin-bottom: auto;
  margin-left: 10%;
  margin-right: 10%;
}



/* Turn off parrallax for mobile */
/* @media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment: scroll;
  }
} */
