body, html{
  height:100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3, .pimg4{
   position:relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.pimg2, .pimg3, .pimg4{
  opacity: .7;
}


/* image1 as gradient */
/* .pimg1{
  background: linear-gradient(140deg, #FF1AC3, #7D7D7D);
  background-size: 200% 400%;
  min-height: 100%;
  margin-bottom: 0;
  width:100%;
  animation: g-back 5s ease infinite;
} */

/* image1 as skyline */
.pimg1{
  background-image: url('../img/MilwaukeeSkyline.png');
  background-color: #251E21;
  background-position: bottom;
  background-size: contain;
  min-height: 100%;
}


.pimg2{
  background-image:url('../img/iHeartCoffee.jpg');
  min-height: 400px;
  width:100%;
}

.pimg3{
  background-image:url('../img/muffin.jpg');
  min-height: 400px;
  width:100%;
}

.pimg4{
  background-image:url('../img/coffeeHeart.jpeg');
  /* change bottom height to cover map, not 100% */
  min-height: 600px;
  width:100%;
}

/* script for gradient animation */
/* @keyframes g-back{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
} */

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #FDFEFE;
  color: #666;

}

/* turning section dark off to attempt transition colors */
/* .section-dark{
  background-color: #282e34;
  color: #ddd;
} */

.sectionTransition{
  background-color: #AFDAD2;
  /* opacity: .4; */
}


.navbar-nav{
  list-style: none;
  border-radius: 100px;
  /* background-color: transparent; */
  /* text-align: center !important; */
  margin-right: auto;
  margin-left: auto;
  /* padding: 30; */
}
.nav-item{
  padding: 10px 10px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
}
.nav-item .nav-link{
  color: #fff !important;
}
.scrollButton .nav-link{
  position: absolute;
  bottom: 30px;
  width: 100px;
  height: 100px;
  right:25%;
  left:50%;
  margin-left:-150px;
}
.scrollButton .ArrowLink{
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -50px;
  color: deepskyblue;
}
.scrollButton .ArrowLink:hover{
  transform: scale(1.2);
  color: #fff;
  transition-duration: .3s;

}

.nav-item:hover{
  transform: scale(1.2);
  border: 2px solid #fff;
  border-color: #fff;
  transition: .6s;
}



.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.titleBlock{
  position: absolute;
  top: 15%;
  width: 100%;
  vertical-align: center;
  text-align: center;
  font-size: 8vh;
  letter-spacing: .5vw;
  font-weight: bold;
  text-transform: uppercase;
}

.titleBlock .trans{
  /* background-color: #777; */
  color: #fff;
  font-family: 'Playfair Display', serif;
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px; */
}

 .titleBlock .subtitle{
  color: #fff;
 }


/* Turn title background off */
/* .titleBlock .trans{
  background-color: transparent;
} */

.socialIcons li{
  display: inline-block;
  border: 2px solid #fff;
  /* border-color: blue; */
  /* background-color: deepskyblue; */
  text-align: center;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 50%;
  /* font-weight: lighter; */
}
.socialIcons li:hover{
  transform: rotate(360deg) scale(1.0);
  transition-duration: .5s;
}
.socialIcons a{
  color: #fff !important;
}
.socialIcons a:hover{
  color: #fff !important;
  text-decoration: none;
}

.socialIcons i{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.socialIcons .facebookIcon:hover{
  background-color: #3b5998 !important;
}
.socialIcons .mailIcon:hover{
  background-color: deepskyblue !important;
}
.socialIcons .twitterIcon:hover{
  background-color: #1da1f2 !important;
}
.socialIcons .instagramIcon:hover{
  background-color: #c32aa3 !important;
}

.ptext .border{
  background-color: #777;
  color: #fff;
  padding: 20px;
}

.SectionLink{
  color: #fff;
}
.SectionLink:hover{
  transform: scale(.5) !important;
  transition-duration: 2s;
  color: purple;
  /* background-color: deepskyblue; */

}




/* Turn off parrallax for mobile */
/* @media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment: scroll;
  }
} */
