body, html{
  height:100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3, .pimg4{
   position:relative;
   opacity: .7;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   background-attachment: fixed;
}

.pimg1{
  background-image:url('../img/coffeeStock.jpg');
  min-height: 100%;
  margin-bottom: 0;
  width:100%;
}

.pimg2{
  background-image:url('../img/iHeartCoffee.jpg');
  min-height: 400px;
  width:100%;
}

.pimg3{
  background-image:url('../img/muffin.jpg');
  min-height: 400px;
  width:100%;
}

.pimg4{
  background-image:url('../img/coffeeHeart.jpeg');
  /* change bottom height to cover map, not 100% */
  min-height: 600px;
  width:100%;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #f4f4f4;
  color: #666;
}

.section-dark{
  background-color: #282e34;
  color: #ddd;
}

.navbar-brand{
  color: #f4f4f4 !important;
  font-weight: bold;
}
.navbar{
  background-color: #646360;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.titleBlock{
  position: absolute;
  top: 5%;
  width: 100%;
  vertical-align: center;
  text-align: center;
  font-size: 8vh;
  letter-spacing: .5vw;
  font-weight: bold;
  text-transform: uppercase;
}

.titleBlock .trans{
  /* background-color: #777; */
  color: #fff;
  font-family: 'Bad Script', cursive;
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px; */
}

 .titleBlock .subtitle{
  color: #fff;
 }

/* Turn title background off */
/* .titleBlock .trans{
  background-color: transparent;
} */
.subtitle{
  color: inherit;
}
.socialIcons li{
  display: inline-block;
  border: 2px solid #fff;
  /* border-color: blue; */
  /* background-color: deepskyblue; */
  text-align: center;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
}
.socialIcons li:hover{
  background-color: blue;
  transform: rotate(360deg);
  transition-duration: .8s;
}

.ptext .border{
  background-color: #777;
  color: #fff;
  padding: 20px;
}


/* Turn off parrallax for mobile */
/* @media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment: scroll;
  }
} */
